{% extends 'base.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>В современном мире такое явление, как ведение здорового образа жизни и контроль за собственным весом и питанием крайне распространено. Активный ритм жизни не всегда позволяет людям следить за правильным употреблением пищи.  Большую помощь в решении этой проблемы в настоящее время предоставляют приложения по контролю питания.
В данных приложениях можно узнать рекомендуемую норму калорий в день, вести учёт употребляемой пищи, следить за изменением веса и даже получать советы по правильному питанию. Всё это позволяет контролировать свой рацион и вести здоровый образ жизни без особых усилий, что обеспечивает широкую распространённость и актуальность подобного рода приложений.
</p>
{% endblock %}
